texlive/texk/tex4htk/java/xtpipes/lib/xtpipes-map.dtd

<!-- xtpipes-map.dtd (2026-05-11-10:17), generated from xtpipes.tex
     Copyright (C) 2009-2010 TeX Users Group
     Copyright (C) 2002-2009 Eitan M. Gurari
%
% This work may be distributed and/or modified under the
% conditions of the LaTeX Project Public License, either
% version 1.3c of this license or (at your option) any
% later version. The latest version of this license is in
%   https://www.latex-project.org/lppl.txt
% and version 1.3c or later is part of all distributions
% of LaTeX version 2005/12/01 or later.
%
% This work has the LPPL maintenance status "maintained".
%
% The Current Maintainer of this work
% is the TeX4ht Project <https://tug.org/tex4ht>.
%
% If you modify this program, changing the
% version identification would be appreciated. -->
<!ELEMENT xtpipes-map (when | processing-instruction
                            | select
                            | command-line)*  >
<!ELEMENT when (when | select
                     | processing-instruction
                     | command-line )*  >
<!ELEMENT select EMPTY >
<!ELEMENT processing-instruction EMPTY >
<!ELEMENT command-line EMPTY >
<!ATTLIST xtpipes-map
          signature      CDATA #IMPLIED
>
<!ATTLIST when
          name   (
                    system-id
                  | public-id
                  | dtd-root
                  | root
                  | ext
                  | meta-type
                  | content-type
                  | prefix      )  "public-id"
          value   CDATA #IMPLIED
          case-sensitive (yes|no) "no"
>
<!ATTLIST select
          name      CDATA #REQUIRED
>

