texlive/texk/tex4htk/java/xtpipes/lib/xtpipes.dtd

<!-- xtpipes.dtd (2026-05-11-10:17), generated from xtpipes.tex
     Copyright (C) 2009-2010 TeX Users Group
     Copyright (C) 2002-2009 Eitan M. Gurari
%
% This work may be distributed and/or modified under the
% conditions of the LaTeX Project Public License, either
% version 1.3c of this license or (at your option) any
% later version. The latest version of this license is in
%   https://www.latex-project.org/lppl.txt
% and version 1.3c or later is part of all distributions
% of LaTeX version 2005/12/01 or later.
%
% This work has the LPPL maintenance status "maintained".
%
% The Current Maintainer of this work
% is the TeX4ht Project <https://tug.org/tex4ht>.
%
% If you modify this program, changing the
% version identification would be appreciated. -->
<!ELEMENT xtpipes (#PCDATA | set
| get
| print
| return
| if
| xslt
| dom
| sax
)* >
<!ATTLIST xtpipes
          preamble  CDATA #IMPLIED DEFAULT (yes | no) "no"
          signature CDATA #IMPLIED                         >
<!ELEMENT set (#PCDATA) >
<!ATTLIST set
          name CDATA #REQUIRED >
<!ELEMENT get EMPTY >
<!ATTLIST get
          name CDATA #REQUIRED
          file CDATA #REQUIRED
>
<!ELEMENT print EMPTY >
<!ATTLIST print
          name CDATA #REQUIRED
          file CDATA #IMPLIED
>
<!ELEMENT return EMPTY >
<!ATTLIST return
          name CDATA #REQUIRED
>
<!ELEMENT if (#PCDATA | set
| get
| print
| return
| if
| xslt
| dom
| sax
)* >
<!ATTLIST if
          xml CDATA #REQUIRED
          dtd CDATA #REQUIRED
          root CDATA #REQUIRED
>
<!ELEMENT xslt EMPTY >
<!ATTLIST xslt
          name CDATA #IMPLIED
          xml  CDATA #REQUIRED
          xsl  CDATA #REQUIRED
>
<!ELEMENT dom EMPTY >
<!ATTLIST dom
          name   CDATA #REQUIRED
          xml    CDATA #REQUIRED
          method CDATA #REQUIRED
          class  CDATA #REQUIRED
          dcl    CDATA #IMPLIED DEFAULT (yes | no) "no"
>
<!ELEMENT sax (#PCDATA | script)*  >
<!ELEMENT script (#PCDATA | set
| get
| print
| return
| if
| xslt
| dom
| sax
 )*  >
<!ATTLIST sax
          name            CDATA #IMPLIED
          xml             CDATA #IMPLIED
          content-handler CDATA #REQUIRED
          lexical-handler CDATA #IMPLIED
>
<!ATTLIST script
          element CDATA #REQUIRED
>

